# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.venv_jax
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
.aider*
*.DS_Store

# VS Code
.vscode/

# Misc folders
data/
*ckpt.pt
*.zip
templates/*/run_0/
templates/*/*.png
results/
# logs/

# data folders under review_iclr_bench/
review_iclr_bench/iclr_papers/
review_iclr_bench/iclr_parsed_w_img/
review_iclr_bench/generated_paper/
review_iclr_bench/iclr_parsed/

# Experiment logs
experiments/
aisci_outputs/
slurm_logs/
.out

# final papers
final_papers/

# HF
cache/
huggingface/
history_of_commands.txt
logs.logs.dat*
mini-imagenet_checkpoints_20250614_152235/model_epoch1_step25_val1_13.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch1_step50_val1_14.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch2_step50_val1_24.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch3_step25_val1_50.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch3_step50_val1_61.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch3_step75_val2_70.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch4_step25_val4_24.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch4_step50_val5_35.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch4_step75_val8_62.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch5_step25_val11_50.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch5_step50_val12_55.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch5_step75_val16_83.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch6_step25_val18_06.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch8_step25_val18_13.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch9_step50_val21_52.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch10_step75_val22_40.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch11_step75_val26_18.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch12_step50_val28_11.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch14_step25_val28_63.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch14_step50_val30_31.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch15_step25_val31_05.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch15_step50_val35_32.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch15_step75_val35_49.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch16_step75_val36_50.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch17_step25_val38_34.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch17_step50_val40_47.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch17_step75_val41_09.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch18_step25_val42_80.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch18_step50_val43_95.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch19_step25_val44_07.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch19_step50_val44_27.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch19_step75_val45_08.pt
mini-imagenet_checkpoints_20250614_152235/model_epoch20_step50_val45_12.pt
mini-imagenet_checkpoints_20250614_152235/model_final.pt
mini-imagenet_training_log_20250614_152235.npy
ai_scientist/ideas/geometric_solar_cell_efficiency.json
_before_google_bfts_config.yaml
ai_scientist/ideas/geometric_solar_cell_efficiency_old_donot_use.py
ai_scientist/treesearch/backend/backend_googleapi.pp.old
history_of_commands*.txt
setup.env
